<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple Angular Typescript application</title>
    
</head>
<link rel="stylesheet" type="text/css"   href="styles/bootstrap.css">
<body ng-app="app" ng-cloak>
    <h2> Simple demo NG-TS </h2>
    <div class="container" ng-controller="ListCtrl as vm">
        <div>
            <div>{{vm.displayText}}</div>
            <br>
            <button type='submit' class='btn btn-primary' ng-click='vm.changeScopeModel()'>Toggle model text</button>
        </div>
        <br><br>
        <div>
            <div>{{vm.serviceResponse}}</div>
            <button type='submit' class='btn btn-primary' ng-click='vm.getDataFromService()'>Show Service data</button>
       </div>
    </div>

    <!-- Library Scripts -->
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-resource.js"></script>
    <script src="scripts/angular-mocks.js"></script>
    <script src="scripts/angular-route.js"></script>
    
    <!-- Application Script -->

    <!-- Domain Classes -->

    <!-- Services -->
    <script src="app/services/service.js"></script>
    <!-- Controllers -->
    <script src="app/controllers/DemoMVVMCtrl.js"></script>
    
</body>

</html>